.category_item{
	height: 100vh;
	display: flexbox;
	align-items: center;
	justified-content:center;
}

.category_bio{
	height: 50vh;
	display: flexbox;
	align-items: center;
	justified-content:center;
	text-align:center;
	padding-top: 100px;
}
