// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$brand-primary: $gray-dark;

a{
	color:#000;
}


.bg-faded{
 	  background-color: $brand-primary;
 	  
 }



