// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$brand-primary: $gray-dark;

a{
	color:#000;
}


.bg-faded{
 	  background-color: $brand-primary;
 	  
 }

 .text-vcenter{
 	padding-top: 50vh;
 }

.project{
	width: 100%;
	height: 100vh;
	color: #fff;
}

$font-family-sans-serif: 'Oswald', sans-serif;
